<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Twitter Map</title>
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	</head>
	<body>
    <h1>TwitterMap</h1>
    <div id="search">
      <select id="dropdown">
        <option value="lunch">lunch</option>
        <option value="food">food</option>
        <option value="dinner">dinner</option>
        <option value="eat">eat</option>
        <option value="desert">desert</option>
        <option value="delicious">delicious</option>
        <option value="drinks">drinks</option>
        <option value="bar">bar</option>
        <option value="restaurant">restaurant</option>
        <option value="breakfast">breakfast</option>
      </select> 
      <button id="Search" onclick="Search()">Search</button>
    </div>
		<p></p>
    <div id="map"></div>
		
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="../static/js/markerclusterer.js"></script>
    <script type="text/javascript" src="../static/js/index.js?version=26"></script>
		
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAqD75YwMxiLRbopdaD_BpBXqdLHO-aBY&callback=initMap"async defer></script>
	
  </body>
</html>
<!DOCTYPE html>
