<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Twitter Map</title>
		<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	</head>
	<body>		
		hhhhh
		<div id="map"></div>
		<script type="text/javascript" src="../static/js/index.js?version=2"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAqD75YwMxiLRbopdaD_BpBXqdLHO-aBY&callback=initMap"async defer></script>
	</body>
</html>
<!DOCTYPE html>
